{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Contacts::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}New_contact_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Contacts_add_new_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.title) }}
                                                {{ form_widget(form.title) }}
                                                {{ form_errors(form.title) }}
                                            </div>
                                            <div class="form-group m-0 p-0">
                                                <div class="form-check">
                                                    <label class="form-check-label ml-4 p-0">
                                                        {{ form_row(form.isManagement) }}
                                                        <span class="form-check-sign ml-0 p-0"></span>
                                                        {% trans %}Is management{% endtrans %}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="contact-list-wrapper" data-manager-name-prototype="{{ form_widget(form.contacts.vars.prototype.managerName)|e('html_attr') }}" data-apartment-number-prototype="{{ form_widget(form.contacts.vars.prototype.apartmentNumber)|e('html_attr') }}">
                                        {% do form.contacts.setRendered %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-info btn-fill pull-left add-contact" data-index="{{ form.contacts|length }}">{% trans %}Add_contact_button{% endtrans %}</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn btn-success btn-fill pull-right">{% trans %}Save_button{% endtrans %}</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/jquery.mask.js') }}" type="text/javascript"></script>

    <script>
        $().ready(function() {
            $('#contacts_isManagement').unwrap();

            var isManagement = "{{ app.request.get('isManagement') }}";

            if (isManagement) {
                $('#contacts_isManagement').prop("checked", true);
            }

            $('#ContactsForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            $('.phone-input').mask('(000) 000 00 00');

            $($('.add-specific-phone')).each(function() {
                if ($(this).data('index') == 0) {
                    var index = $(this).data('index');
                    var row = $(this).data('row');
                    var prototype = $('#row-'+row+' .phones-list-wrapper').data('prototype');
                    var newPhoneInput = prototype.replace(/__name__/g, index);
                    var newPhone = "<div id=\"row-phone-" + row + "-" + index + "\" class=\"d-flex align-items-end\">" +
                        "<div class=\"form-group mb-2 flex-grow-1\">" + newPhoneInput + "</div>" +
                        "<button type=\"button\" rel=\"tooltip\" title=\"{% trans %}Delete_phone_button{% endtrans %}\" class=\"btn btn-danger btn-fill mb-2 ml-2 delete-specific-phone\" data-row-phone-id=" + row + "-" + index + ">" +
                        "<i class=\"fa fa-minus-square\"></i>" +
                        "</button>" +
                        "</div>";

                    $(this).data('index', index + 1);
                    $(this).before(newPhone);
                    $('.phone-input').mask('(000) 000 00 00');
                }
            });

            $('.add-contact').on('click', function () {
                var index = $(this).data('index');
                var isManagementChecked = $('#contacts_isManagement').is(":checked");

                var managerNamePrototype = $('.contact-list-wrapper').data('manager-name-prototype');
                var apartmentNumberPrototype = $('.contact-list-wrapper').data('apartment-number-prototype');
                var newPhonesInput = "<input type=\"text\" id=\"contacts_contacts_" + index + "_phones_0\" name=\"contacts[contacts][" + index + "][phones][0]\" class=\"form-control phone-input\" data-mask=\"(000) 000 00 00\" placeholder=\"(000) 000 00 00\" minlength=\"15\">";

                var newManagerNamePrototype = managerNamePrototype.replace(/__name__/g, index);
                var newApartmentNumberPrototype = apartmentNumberPrototype.replace(/__name__/g, index);
                var apartmentNumberInput = "";

                if (isManagementChecked) {
                    apartmentNumberInput = "<div class=\"form-group\">" +
                        "<label for=\"contacts_contacts_" + index + "_apartmentNumber\" class=\"required\">{% trans %}Apartment number{% endtrans %}</label>" + newApartmentNumberPrototype +
                    "</div>"
                }

                var newContact = "<div id=\"row-" + index + "\">" +
                    "<div class=\"row\">" +
                        "<div class=\"col-md-6\">" +
                            "<div class=\"d-flex align-items-end\">" +
                                "<div class=\"form-group mb-0 flex-grow-1\">" +
                                    "<label for=\"contacts_contacts_" + index + "_managerName\" class=\"required\">{% trans %}Manager name{% endtrans %}</label>" + newManagerNamePrototype +
                                "</div>" +
                                "<button type=\"button\" rel=\"tooltip\" title=\"{% trans %}Delete_contact_button{% endtrans %}\" class=\"btn btn-danger btn-fill mb-0 ml-2 delete-specific-contact\" data-row-id=" + index + ">" +
                                    "<i class=\"fa fa-minus-square\"></i>" +
                                "</button>" +
                            "</div>" + apartmentNumberInput +
                        "</div>" +
                        "<div class=\"col-md-6\">" +
                            "<div class=\"phones-list-wrapper\" data-prototype=\"<input type='text' id='contacts_contacts_0_phones___name__' name='contacts[contacts][0][phones][__name__]' class='form-control phone-input'  data-mask='(000) 000 00 00' placeholder='(000) 000 00 00' minlength='15'>\">" +
                                "<label>{% trans %}Phones{% endtrans %}</label>" +
                                "<div id=\"row-phone-" + index + "-0\" class=\"d-flex align-items-end\">" +
                                    "<div class=\"form-group mb-2 flex-grow-1\">" + newPhonesInput + "</div>" +
                                    "<button type=\"button\" rel=\"tooltip\" title=\"{% trans %}Delete_phone_button{% endtrans %}\" class=\"btn btn-danger btn-fill mb-2 ml-2 delete-specific-phone\" data-row-phone-id=" + index + "-0>" +
                                        "<i class=\"fa fa-minus-square\"></i>" +
                                    "</button>" +
                                "</div>"+
                                "<button type=\"button\" rel=\"tooltip\" title=\"{% trans %}Add_phone_button{% endtrans %}\" class=\"btn btn-info btn-fill pull-right mb-2 ml-2 add-specific-phone\" data-row=" + index + " data-index=\"1\">" +
                                    "<i class=\"fa fa-plus-square\"></i>" +
                                "</button>" +
                            "</div>" +
                        "</div>" +
                    "</div>" +
                    "<hr>" +
                "</div>";

                $('.contact-list-wrapper').append(newContact);
                $(this).data('index', index + 1);
                $('.phone-input').mask('(000) 000 00 00');
            });

            if ($('.add-contact').data('index') === 0) {
                $('.add-contact').trigger('click');
            }

            $(document).on('click', '.add-specific-phone', function() {
                var index = $(this).data('index');
                var row = $(this).data('row');
                var prototype = $('#row-'+row+' .phones-list-wrapper').data('prototype');
                var newPhoneInput = prototype.replace(/__name__/g, index);

                var newPhone = "<div id=\"row-phone-" + row + "-" + index + "\" class=\"d-flex align-items-end\">" +
                    "<div class=\"form-group mb-2 flex-grow-1\">" + newPhoneInput + "</div>" +
                        "<button type=\"button\" rel=\"tooltip\" title=\"{% trans %}Delete_phone_button{% endtrans %}\" class=\"btn btn-danger btn-fill mb-2 ml-2 delete-specific-phone\" data-row-phone-id=" + row + "-" + index + ">" +
                            "<i class=\"fa fa-minus-square\"></i>" +
                        "</button>" +
                    "</div>";

                $(this).data('index', index + 1);
                $(this).before(newPhone);
                $('.phone-input').mask('(000) 000 00 00');
            });

            $('.delete-contact').on('click', function () {
                var contactId = $(this).data('contact-id');
                var route = "{{ path('admin_contacts')|escape('js') }}";

                swal({
                    title: "{% trans %}Alert_delete_contact_question{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_contact') }}',
                        type: 'POST',
                        data: {
                            contactId: contactId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_contact_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                location.href = route;
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            });
                        },
                    })
                });
            });

            $('.contact-list-wrapper').on('click', '.delete-specific-contact', function() {
                var rowId = $(this).data('row-id');
                var buttonIndex = $('.add-contact').data('index');
                $('.add-contact').data('index', buttonIndex - 1);

                $('#row-'+rowId).remove();
            });

            $(document).on('click', '.delete-specific-phone', function() {
                var rowPhoneId = $(this).data('row-phone-id');

                $('#row-phone-'+rowPhoneId).remove();
            });


        });
    </script>
{% endblock %}