{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Contacts::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Contacts_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Contacts_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body text-center">
                                    <a href="{{ path('create_contact') }}" class="btn btn-sm btn-success btn-fill mt-2 mb-4">{% trans %}Add_new_contact_button{% endtrans %}</a>
                                    {% for personalContact in personalContacts %}
                                        <div class="contact-block pb-1">
                                            <h4 class="mt-0 pt-0 mb-2"><b>{{ personalContact.title }}</b></h4>
                                            {% for personalContactManager in personalContact.contacts %}
                                                <h6 class="text-secondary">{{ personalContactManager.managerName }}</h6>
                                                <ul class="list-unstyled">
                                                    {% for personalContactManagerPhone in personalContactManager.phones %}
                                                        <li><i class="fa fa-phone-square text-info"></i> <a href="tel: {{ personalContactManagerPhone }}" class="contact-block-link">{{ personalContactManagerPhone }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                            <a href="{{ path('edit_contact', {'id': personalContact.id}) }}" class="btn btn-sm btn-warning btn-fill">{% trans %}Edit_button{% endtrans %}</a>
                                            <button type="button" class="btn btn-sm btn-danger btn-fill delete-contact" data-contact-id="{{ personalContact.id }}">{% trans %}Delete_button{% endtrans %}</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Contacts_management_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Contacts_management_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body text-center">
                                    <a href="{{ path('create_contact', {'isManagement': 'true'}) }}" class="btn btn-sm btn-success btn-fill mt-2 mb-4">{% trans %}Add_new_contact_button{% endtrans %}</a>
                                    {% for managementContact in managementContacts %}
                                        <div class="contact-block pb-1">
                                            <h4 class="mt-0 pt-0 mb-2"><b>{{ managementContact.title }}</b></h4>
                                            {% for managementContactManager in managementContact.contacts %}
                                                <h6 class="text-secondary">{{ managementContactManager.managerName }}</h6>
                                                <ul class="list-unstyled">
                                                    {% for managementContactManagerPhone in managementContactManager.phones %}
                                                        <li><i class="fa fa-phone-square text-info"></i> <a href="tel: {{ managementContactManagerPhone }}" class="contact-block-link">{{ managementContactManagerPhone }}</a></li>
                                                    {% endfor %}
                                                    {% if managementContactManager.apartmentNumber is not empty %}
                                                        <li><i class="fa fa-location-arrow text-success"></i><small>кв. {{ managementContactManager.apartmentNumber }}</small></li>
                                                    {% endif %}
                                                </ul>
                                            {% endfor %}
                                            <a href="{{ path('edit_contact', {'id': managementContact.id}) }}" class="btn btn-sm btn-warning btn-fill">{% trans %}Edit_button{% endtrans %}</a>
                                            <button type="button" class="btn btn-sm btn-danger btn-fill delete-contact" data-contact-id="{{ managementContact.id }}">{% trans %}Delete_button{% endtrans %}</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var successFlashes = {{ app.flashes('success')|json_encode|raw }};

            if (successFlashes != '') {
                var message = successFlashes[0];

                if ('Successful contacts edit' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_contacts_edit_title{% endtrans %}</b></br>{% trans %}Successful_contacts_edit_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }

                if ('Successful contacts create' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_contacts_create_title{% endtrans %}</b></br>{% trans %}Successful_contacts_create_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }
            }

            $('.delete-contact').on('click', function () {
                var contactId = $(this).data('contact-id');

                swal({
                    title: "{% trans %}Alert_delete_contact_question{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_contact') }}',
                        type: 'POST',
                        data: {
                            contactId: contactId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_contact_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                    })
                });
            });
        });
    </script>
{% endblock %}