{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Users::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{ asset('assets/img/sidebar-5.jpg') }}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{% trans %}Users_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Users_small_new_title{% endtrans %}</p>
                                </div>
                                <div class="card-body content-full-width">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link" id="active-users" href="{{ path('users_active') }}">{% trans %}Active_users_tab_title{% endtrans %} ({{ activeUsersCount() }})</a>
                                        </li>
                                        <li class="nav-item show active">
                                            <a class="nav-link" id="new-users" href="{{ path('users_new') }}">{% trans %}New_users_tab_title{% endtrans %} ({{ newUsersCount() }})</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="block-users" href="{{ path('users_blocked') }}">{% trans %}Blocked_users_tab_title{% endtrans %} ({{ blockedUsersCount() }})</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="icon-info" class="tab-pane fade show active">
                                            {% if users|length > 0 %}
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                            <th>ID</th>
                                                            <th>{% trans %}First name{% endtrans %}</th>
                                                            <th>{% trans %}Second name{% endtrans %}</th>
                                                            <th>{% trans %}Email{% endtrans %}</th>
                                                            <th>{% trans %}Phone{% endtrans %}</th>
                                                            <th>{% trans %}Apartment number{% endtrans %}</th>
                                                            <th>{% trans %}RegDate{% endtrans %}</th>
                                                            <th>{% trans %}Actions{% endtrans %}</th>
                                                            </thead>
                                                            <tbody>
                                                            {% for user in users %}
                                                                <tr>
                                                                    <td>{{ user.id }}</td>
                                                                    <td>{{ user.firstName }}</td>
                                                                    <td>{{ user.secondName }}</td>
                                                                    <td><a href="mailto: {{ user.email }}" target="_blank">{{ user.email }}</a></td>
                                                                    <td>{{ user.phone }}</td>
                                                                    <td>{{ user.apartmentNumber }}</td>
                                                                    <td>{{ user.registerDate|date('Y/m/d') }}</td>
                                                                    <td class="td-actions text-right">
                                                                        <a href="#" rel="tooltip" title="{% trans %}Approve_menu{% endtrans %}" class="btn btn-success btn-link btn-xs approve-user" data-user-id="{{ user.id }}">
                                                                            <i class="fa fa-plus-circle"></i>
                                                                        </a>
                                                                        <a href="#" rel="tooltip" title="{% trans %}Block_menu{% endtrans %}" class="btn btn-warning btn-link btn-xs block-user" data-user-id="{{ user.id }}">
                                                                            <i class="fa fa-lock"></i>
                                                                        </a>
                                                                        <a href="#" rel="tooltip" title="{% trans %}Decline_menu{% endtrans %}" class="btn btn-danger btn-link btn-xs decline-user" data-user-id="{{ user.id }}">
                                                                            <i class="fa fa-minus-circle"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <h3 class="text-center">{% trans %}No_new_users_message{% endtrans %}</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            $('.approve-user').on('click', function () {
                var userId = $(this).data('user-id');

                swal({
                    title: "{% trans %}Alert_approve_user_question{% endtrans %}",
                    text: "{% trans %}Alert_approve_user_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Approve_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('ajax_approve_user') }}',
                        type: 'POST',
                        data: {
                            userId: userId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_approved_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                    })
                });
            });

            $('.block-user').on('click', function () {
                var userId = $(this).data('user-id');

                swal({
                    title: "{% trans %}Alert_block_user_question{% endtrans %}",
                    text: "{% trans %}Alert_block_user_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Block_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('ajax_block_user') }}',
                        type: 'POST',
                        data: {
                            userId: userId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_blocked_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                    })
                });
            });

            $('.decline-user').on('click', function () {
                var userId = $(this).data('user-id');

                swal({
                    title: "{% trans %}Decline_block_user_question{% endtrans %}",
                    text: "{% trans %}Decline_block_user_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Decline_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('ajax_decline_user') }}',
                        type: 'POST',
                        data: {
                            userId: userId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_declined_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                    })
                });
            });
        });
    </script>
{% endblock %}