{% extends 'base.html.twig' %}

{% block title %}{% trans %}News::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}News_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}News_detailed_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    <div class="news-block">
                                        <h2>{{ news.title }}</h2>
                                        <div class="card-footer text-left p-0">
                                            <div class="stats">
                                                <i class="fa fa-calendar"></i> {% trans %}Published_date{% endtrans %} {{ news.createdDate|date('Y-m-d') }}
                                            </div>
                                        </div>
                                        {% if news.recap|length > 0 %}
                                            <hr>
                                            <p>{{ news.recap }}</p>
                                        {% endif %}
                                        <hr>
                                        <p>{{ news.description|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
{% endblock %}