{% extends 'base.html.twig' %}

{% block title %}{% trans %}News::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                {% if news|length != 0 %}
                                    <div class="card-header ml-4 mt-3">
                                        <h4 class="card-title">{% trans %}News_title{% endtrans %}</h4>
                                        <p class="card-category">{% trans %}News_small_title{% endtrans %}</p>
                                    </div>
                                    <div class="card-body news-list mt-0 pt-0">
                                        {% for newsData in news %}
                                            <div class="news-block pl-4 pr-4">
                                                <a href="{{ path('read_news', {'id': newsData.id}) }}"><h2>{{ newsData.title }}</h2></a>
                                                <div class="card-footer text-left p-0">
                                                    <div class="stats">
                                                        <i class="fa fa-calendar"></i> {% trans %}Published_date{% endtrans %} {{ newsData.createdDate|date('Y-m-d') }}
                                                    </div>
                                                </div>
                                                <p>{{ newsData.recap }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="card-body news-list p-4">
                                        <h3 class="text-center p-4">{% trans %}No_news_title{% endtrans %}</h3>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var newsScrollCount = 5;

            $(window).scroll(function() {
                if ($(window).scrollTop() == ($(document).height() - $(window).height())) {
                    $.ajax({
                        url: '{{ path('load_more_news') }}',
                        type: 'POST',
                        data: {
                            from: newsScrollCount,
                        },
                        success: function (response) {
                            $(response).each(function(index, news) {
                                var news = "" +
                                    "<div class=\"news-block pl-4 pr-4\">\n" +
                                        "<a href=\"/news/" + news.id + "\"><h2>" + news.title + "</h2></a>\n" +
                                        "<div class=\"card-footer text-left p-0\">\n" +
                                            "<div class=\"stats\">\n" +
                                                "<i class=\"fa fa-calendar\"></i> {% trans %}Published_date{% endtrans %} " + news.createdDate + "\n" +
                                            "</div>\n" +
                                        "</div>" +
                                        "<p>" + news.recap + "</p>\n" +
                                    "</div>\n";

                                $('.news-list').append(news);
                            });

                            newsScrollCount = newsScrollCount + 5;
                        }
                    })
                }
            });
        });
    </script>
{% endblock %}