{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Advertisements::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisements_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisement_edit_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body content-full-width">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item show active">
                                            <a class="nav-link" href="{{ path('admin_edit_advertisement', {'id': app.request.get('id') }) }}">{% trans %}Ads_base_info_tab_title{% endtrans %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('admin_advertisement_questions', {'id': app.request.get('id') }) }}">{% trans %}Ads_questions_tab_title{% endtrans %} {% if newAdsQuestionsCountByAd(app.request.get('id')) > 0 %}({{ newAdsQuestionsCountByAd(app.request.get('id')) }}){% endif %}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="icon-info" class="tab-pane fade show active">
                                            <div class="col-md-12">
                                                <div class="ads-block">
                                                    {{ form_start(form) }}
                                                    <div class="form-group">
                                                        {{ form_label(form.title) }}
                                                        {{ form_widget(form.title) }}
                                                        {{ form_errors(form.title) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(form.recap) }}
                                                        <p class="text-danger small p-0 m-0">{% trans %}Max_250_symbols{% endtrans %}</p>
                                                        {{ form_widget(form.recap, {'attr': {'style': 'height: 120px;'}}) }}
                                                        {{ form_errors(form.recap) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(form.description) }}
                                                        {{ form_widget(form.description) }}
                                                        {{ form_errors(form.description) }}
                                                    </div>
                                                    <div class="card-footer text-left p-0">
                                                        <div class="stats">
                                                            <i class="fa fa-calendar"></i> {% trans %}Published_date{% endtrans %} {{ advertisement.createdDate|date('Y-m-d') }}
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <button type="button" class="btn btn-danger btn-fill pull-left delete-advertisement" data-advertisement-id="{{ app.request.get('id') }}">{% trans %}Delete_button{% endtrans %}</button>
                                                    <button type="submit" class="btn btn-success btn-fill pull-right">{% trans %}Save_button{% endtrans %}</button>
                                                    {{ form_end(form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src='{{ asset('bundles/kmsfroalaeditor/froala_editor/js/languages/uk.js') }}'></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            $('#AdvertisementForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            $('.delete-advertisement').on('click', function () {
                var advertisementId = $(this).data('advertisement-id');
                var route = "{{ path('admin_advertisements')|escape('js') }}";

                swal({
                    title: "{% trans %}Alert_delete_advertisement_question{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_advertisement') }}',
                        type: 'POST',
                        data: {
                            advertisementId: advertisementId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_advertisement_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                location.href = route;
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            });
                        },
                    })
                });
            });
        });
    </script>
{% endblock %}

