{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Advertisements::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisements_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisement_edit_questions_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body content-full-width">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('admin_edit_advertisement', {'id': app.request.get('id') }) }}">{% trans %}Ads_base_info_tab_title{% endtrans %}</a>
                                        </li>
                                        <li class="nav-item show active">
                                            <a class="nav-link" href="{{ path('admin_advertisement_questions', {'id': app.request.get('id') }) }}">{% trans %}Ads_questions_tab_title{% endtrans %} {% if newAdsQuestionsCountByAd(app.request.get('id')) > 0 %}({{ newAdsQuestionsCountByAd(app.request.get('id')) }}){% endif %}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="icon-info" class="tab-pane fade show active">
                                            <div class="col-md-12">
                                                <div class="ads-block">
                                                    {% if answers|length != 0 %}
                                                        <div class="accordions" id="accordion">
                                                            {% for key,answer in answers %}
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <h4 class="card-title">
                                                                            <a data-target="#question-{{ key }}" href="#" data-toggle="collapse">
                                                                                {{ answer.managerQuestion }}
                                                                                <b class="caret"></b>
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="question-{{ key }}" class="card-collapse collapse">
                                                                        <div class="card-body text-secondary">
                                                                            <p class="small">Відповідь:</p>
                                                                            <p class="small">{{ answer.answer }}</p>
                                                                        </div>
                                                                        {% if answer.questions|length != 0 %}
                                                                            <div class="table-responsive">
                                                                                <table class="table table-hover table-striped">
                                                                                    <thead>
                                                                                    <th>{% trans %}User_info{% endtrans %}</th>
                                                                                    <th>{% trans %}Apartment number{% endtrans %}</th>
                                                                                    <th>{% trans %}User question{% endtrans %}</th>
                                                                                    <th>{% trans %}Date{% endtrans %}</th>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    {% for answerQuestion in answer.questions %}
                                                                                        <tr data-question-id="{{ answerQuestion.id }}">
                                                                                            <td>
                                                                                                {{ answerQuestion.user.firstName }} {{ answerQuestion.user.secondName }} <br>
                                                                                                <a href="tel: {{ answerQuestion.user.phone }}">{{ answerQuestion.user.phone }}</a> <br>
                                                                                                <a href="mailto: {{ answerQuestion.user.email }}" target="_blank">{{ answerQuestion.user.email }}</a>
                                                                                            </td>
                                                                                            <td>{{ answerQuestion.user.apartmentNumber }}</td>
                                                                                            <td>
                                                                                                <span class="question-text" data-question-id="{{ answerQuestion.id }}">{{ answerQuestion.userQuestion }}</span>
                                                                                            </td>
                                                                                            <td style="white-space: nowrap">
                                                                                                {{ answerQuestion.createdDate|date('Y-m-d') }} <br>
                                                                                                <small>{{ answerQuestion.createdDate|date('H:i:s') }}</small>
                                                                                            </td>
                                                                                        </tr>
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        {% endif %}
                                                                        <div class="buttons mt-3 text-right">
                                                                            <a href="{{ path('admin_advertisement_answer', {'id': answer.id}) }}" class="btn btn-sm btn-warning btn-fill">{% trans %}Edit_button{% endtrans %}</a>
                                                                            <button class="btn btn-sm btn-danger btn-fill delete-answer" data-answer-id="{{ answer.id }}">{% trans %}Delete_button{% endtrans %}</button>
                                                                        </div>
                                                                        <hr>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisement_new_questions_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisement_new_questions_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    {{ form_start(form) }}
                                        {% if form.questions.children|length != 0 %}
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-striped questions-list">
                                                        <thead>
                                                        <th>
                                                            <div class="form-group">
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                        <input class="globalRowCheckbox" type="checkbox">
                                                                        <span class="form-check-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th>{% trans %}User_info{% endtrans %}</th>
                                                        <th>{% trans %}Apartment number{% endtrans %}</th>
                                                        <th>{% trans %}User question{% endtrans %}</th>
                                                        <th>{% trans %}Date{% endtrans %}</th>
                                                        <th>{% trans %}Actions{% endtrans %}</th>
                                                        </thead>
                                                        <tbody>
                                                        {% for formQuestion in form.questions %}
                                                            {% set index = formQuestion.vars.value %}
                                                            {% set entity = formQuestion.vars.form.parent.vars.choices[index].data %}
                                                            <tr data-question-id="{{ entity.id }}">
                                                                <td>
                                                                    <div class="form-group">
                                                                        <div class="form-check">
                                                                            <label class="form-check-label">
                                                                                {{ form_widget(formQuestion, {'attr': {'class': 'rowCheckbox'}}) }}
                                                                                <span class="form-check-sign"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    {{ entity.user.firstName }} {{ entity.user.secondName }} <br>
                                                                    <a href="tel: {{ entity.user.phone }}">{{ entity.user.phone }}</a> <br>
                                                                    <a href="mailto: {{ entity.user.email }}" target="_blank">{{ entity.user.email }}</a>
                                                                </td>
                                                                <td>{{ entity.user.apartmentNumber }}</td>
                                                                <td>
                                                                    <span class="question-text" data-question-id="{{ entity.id }}">{{ entity.userQuestion }}</span>
                                                                </td>
                                                                <td style="white-space: nowrap">
                                                                    {{ entity.createdDate|date('Y-m-d') }} <br>
                                                                    <small>{{ entity.createdDate|date('H:i:s') }}</small>
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-sm btn-danger btn-fill delete-question" data-question-id="{{ entity.id }}">{% trans %}Delete_button{% endtrans %}</button>
                                                                    <button class="btn btn-sm btn-secondary btn-fill copy-question" data-question-id="{{ entity.id }}">{% trans %}Copy_button{% endtrans %}</button>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% else %}
                                            <h3 class="text-center p-0 text-info">{% trans %}No_questions_admin_title{% endtrans %}</h3>
                                            <p class="text-center pt-0 pb-4 text-secondary small">{% trans %}No_questions_admin_text{% endtrans %}</p>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.managerQuestion) }}
                                                    {{ form_widget(form.managerQuestion, {'attr': {'style': 'height: 150px;'}}) }}
                                                    {{ form_errors(form.managerQuestion) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.answer) }}
                                                    {{ form_widget(form.answer, {'attr': {'style': 'height: 150px;'}}) }}
                                                    {{ form_errors(form.answer) }}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-warning btn-fill pull-right">{% trans %}Send_button{% endtrans %}</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var successFlashes = {{ app.flashes('success')|json_encode|raw }};

            $('#AdvertisementAnswerForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            if (successFlashes != '') {
                var message = successFlashes[0];

                if ('Successful new question answer' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_question_answer_create_title{% endtrans %}</b></br>{% trans %}Successful_question_answer_create_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }

                if ('Successful question answer edit' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_question_answer_edit_title{% endtrans %}</b></br>{% trans %}Successful_question_answer_edit_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }
            }

            $('.copy-question').on('click', function () {
                var questionId = $(this).data('question-id');
                var questionText = $('.question-text[data-question-id="'+questionId+'"]').text();

                $('#advertisement_answer_managerQuestion').val(questionText);
            });

            $('.delete-question').on('click', function () {
                var questionId = $(this).data('question-id');
                var route = "{{ path('admin_advertisement_questions', {'id': app.request.get('id') })|escape('js') }}";

                swal({
                    title: "{% trans %}Alert_delete_question_question{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_advertisement_question') }}',
                        type: 'POST',
                        data: {
                            questionId: questionId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_question_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                location.href = route;
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            });
                        },
                    })
                });
            });

            $('.delete-answer').on('click', function () {
                var answerId = $(this).data('answer-id');
                var route = "{{ path('admin_advertisement_questions', {'id': app.request.get('id') })|escape('js') }}";

                swal({
                    title: "{% trans %}Alert_delete_answer_and_questions{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_advertisement_answer') }}',
                        type: 'POST',
                        data: {
                            answerId: answerId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_answer_and_questions_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                location.href = route;
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            });
                        },
                    })
                });
            });

            $(document).on('change', '.globalRowCheckbox', function () {
                var status = $(this).is(':checked');

                $('.questions-list').each(function () {
                    var isOrderChecked = $(this).find('.rowCheckbox');

                    isOrderChecked.prop('checked', status);
                });
            });
        });
    </script>
{% endblock %}

