{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Advertisements::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisements_question_answer_edit_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisements_question_answer_edit_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    {{ form_start(form) }}
                                    {% do form.questions.setRendered %}
                                    <div class="form-group">
                                        {{ form_label(form.managerQuestion) }}
                                        {{ form_widget(form.managerQuestion, {'attr': {'style': 'height: 150px;'}}) }}
                                        {{ form_errors(form.managerQuestion) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.answer) }}
                                        {{ form_widget(form.answer, {'attr': {'style': 'height: 150px;'}}) }}
                                        {{ form_errors(form.answer) }}
                                    </div>
                                    <div class="form-group">
                                        {% if advertisementAnswer.questions|length != 0 %}
                                            <label class="pb-2">{% trans %}Questions_list{% endtrans %}</label>
                                            {% for question in advertisementAnswer.questions %}
                                                <p class="small">{{ question.userQuestion }}</p>
                                                <hr>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <a href="#" class="btn btn-danger pull-left delete-answer" data-answer-id="{{ app.request.get('id') }}">{% trans %}Delete_button{% endtrans %}</a>
                                    <button type="submit" class="btn btn-success btn-fill pull-right">{% trans %}Save_button{% endtrans %}</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            $('#AdvertisementAnswerForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            $('.delete-answer').on('click', function () {
                var answerId = $(this).data('answer-id');
                var route = "{{ path('admin_advertisement_questions', {'id': advertisementAnswer.advertisement.id })|escape('js') }}";

                swal({
                    title: "{% trans %}Alert_delete_answer_and_questions{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_advertisement_answer') }}',
                        type: 'POST',
                        data: {
                            answerId: answerId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_answer_and_questions_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                location.href = route;
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            });
                        },
                    })
                });
            });
        });
    </script>
{% endblock %}
