{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Advertisements::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{% trans %}Advertisements_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisements_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body content-full-width advertisements-list">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item show active">
                                            <a class="nav-link" id="active-users" href="{{ path('admin_advertisements') }}">{% trans %}All_ads_tab_title{% endtrans %}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="new-users" href="{{ path('admin_advertisement_questions_list') }}">{% trans %}New_questions_tab_title{% endtrans %} ({{ newAdsQuestionsCount() }})</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="icon-info" class="tab-pane fade show active">
                                            <div class="col-md-12">
                                                <a href="{{ path('admin_create_advertisement') }}" class="btn btn-sm btn-success btn-fill mt-4">{% trans %}Add_new_advertisement{% endtrans %}</a>
                                                {% if advertisements|length != 0 %}
                                                    {% for advertisement in advertisements %}
                                                        <div class="ads-block">
                                                            <h2>{{ advertisement.title }}</h2>
                                                            <div class="card-footer text-left p-0">
                                                                <div class="stats">
                                                                    <i class="fa fa-calendar"></i> {% trans %}Published_date{% endtrans %} {{ advertisement.createdDate|date('Y-m-d') }}
                                                                </div>
                                                            </div>
                                                            <p>{{ advertisement.recap }}</p>
                                                            <div class="card-footer text-left p-0">
                                                                <div class="stats">
                                                                    <a href="{{ path('admin_edit_advertisement', {'id': advertisement.id}) }}" class="btn btn-sm btn-warning btn-fill">{% trans %}Edit_button{% endtrans %}</a>
                                                                    <a href="{{ path('admin_advertisement_questions', {'id': advertisement.id}) }}" class="btn btn-sm btn-info btn-fill">{% trans %}Ads_questions_button{% endtrans %} {% if newAdsQuestionsCountByAd(advertisement.id) > 0 %} ({{ newAdsQuestionsCountByAd(advertisement.id) }}) {% endif %}</a>
                                                                    <button type="button" class="btn btn-sm btn-danger btn-fill delete-advertisement" data-advertisement-id="{{ advertisement.id }}">{% trans %}Delete_button{% endtrans %}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <h3 class="text-center p-4">{% trans %}No_advertisements_title{% endtrans %}</h3>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var successFlashes = {{ app.flashes('success')|json_encode|raw }};
            var advertisementsScrollCount = 5;

            if (successFlashes != '') {
                var message = successFlashes[0];

                if ('Successful advertisement edit' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_advertisement_edit_title{% endtrans %}</b></br>{% trans %}Successful_advertisement_edit_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }

                if ('Successful advertisement create' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_advertisement_create_title{% endtrans %}</b></br>{% trans %}Successful_advertisement_create_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }
            }

            $(window).scroll(function() {
                if ($(window).scrollTop() == ($(document).height() - $(window).height())) {
                    $.ajax({
                        url: '{{ path('admin_load_more_advertisements') }}',
                        type: 'POST',
                        data: {
                            from: advertisementsScrollCount,
                        },
                        success: function (response) {
                            $(response).each(function(index, advertisement) {
                                var advertisement = "" +
                                    "<div class=\"ads-block pl-4 pr-4\">\n" +
                                        "<h2>" + advertisement.title + "</h2>\n" +
                                        "<div class=\"card-footer text-left p-0\">\n" +
                                            "<div class=\"stats\">\n" +
                                                "<i class=\"fa fa-calendar\"></i> {% trans %}Published_date{% endtrans %} " + advertisement.createdDate + "\n" +
                                            "</div>\n" +
                                        "</div>" +
                                        "<p>" + advertisement.recap + "</p>\n" +
                                        "<div class=\"card-footer text-left p-0\">\n" +
                                            "<div class=\"stats\">\n" +
                                                "<a href=\"/admin/advertisement/edit/" + advertisement.id + "\" class=\"btn btn-sm btn-warning btn-fill\">{% trans %}Edit_button{% endtrans %}</a>\n" +
                                                {#"<a href=\"/admin/advertisement/questions/" + advertisement.id + "\" class=\"btn btn-sm btn-info btn-fill\">{% trans %}Ads_questions_button{% endtrans %} {% if newAdsQuestionsCountByAd(advertisement.id) > 0 %} ({{ newAdsQuestionsCountByAd(advertisement.id) }}) {% endif %}</a>\n" +#}
                                                "<button type=\"button\" class=\"btn btn-sm btn-danger btn-fill delete-advertisement\" data-advertisement-id=" + advertisement.id + ">{% trans %}Delete_button{% endtrans %}</button>\n" +
                                            "</div>\n" +
                                        "</div>" +
                                    "</div>\n";

                                $('.advertisements-list').append(advertisement);
                            });

                            advertisementsScrollCount = advertisementsScrollCount + 5;
                        }
                    })
                }
            });

            $(document).on('click', '.delete-advertisement', function() {
                var advertisementId = $(this).data('advertisement-id');

                swal({
                    title: "{% trans %}Alert_delete_advertisement_question{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_advertisement') }}',
                        type: 'POST',
                        data: {
                            advertisementId: advertisementId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_advertisement_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                    })
                });
            });
        });
    </script>
{% endblock %}