{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Advertisements::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisements_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisement_new_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    <div class="ads-block">
                                        {{ form_start(form) }}
                                        <div class="form-group">
                                            {{ form_label(form.title) }}
                                            {{ form_widget(form.title) }}
                                            {{ form_errors(form.title) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.recap) }}
                                            <p class="text-danger small p-0 m-0">{% trans %}Max_250_symbols{% endtrans %}</p>
                                            {{ form_widget(form.recap, {'attr': {'style': 'height: 120px;'}}) }}
                                            {{ form_errors(form.recap) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.description) }}
                                            {{ form_widget(form.description) }}
                                            {{ form_errors(form.description) }}
                                        </div>
                                        <hr>
                                        <button type="submit" class="btn btn-success btn-fill pull-right">{% trans %}Save_button{% endtrans %}</button>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src='{{ asset('bundles/kmsfroalaeditor/froala_editor/js/languages/uk.js') }}'></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            $('#AdvertisementForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });
        });
    </script>
{% endblock %}