<h3>Вас вітає онлайн система ОСББ!</h3>
<h4>Вашу заявку на реєстрацію в системі успішно оброблено.</h4>
<p>Ми ретельно перевірили всі дані та можемо вас привітати з успішною реєстрацією! Використовуйте email та пароль, які були вказані раніше для
    <a href="https://tychyny16-2.kyiv.ua/login">авторизації</a> в системі.</p>
<p>Якщо у вас виникли будь-які запитання, ви завжди можете написати нам у <a href="mailto: service@tychyny16-2.kyiv.ua">службу підтрикки</a>.</p>