<h3>Вас вітає онлайн система ОСББ!</h3>
<h4>Нажаль з деяких причин вас було заблоковано в системі.</h4>
<p>Для поновлення вашої активності в системі, будь-ласка, зв'яжіться з <a href="mailto: service@tychyny16-2.kyiv.ua">службою підтрикки</a>.</p>