<h3>Вас вітає онлайн система ОСББ!</h3>
<h4>Вашу заявку на реєстрацію в системі успішно оброблено.</h4>
<p>Ми ретельно перевірили всі дані та нажаль не можемо надати вам доступ до користування системою. Спробуйте <a
            href="https://tychyny16-2.kyiv.ua/register/">зареєструватись</a> ще раз та вказати більш точні дані, аби ми змогли вас ідентифікувати.</p>
<p>Якщо у вас виникли будь-які запитання, ви завжди можете написати нам у <a href="mailto: service@tychyny16-2.kyiv.ua">службу підтрикки</a>.</p>