<h3>Вас вітає онлайн система ОСББ!</h3>
<h4>Дякуємо, що подали заявку на реєстрацію в системі.</h4>
<p>Так як наша система є приватною, нам необхідно трохи часу, аби обробити вашу заявку. Результати модерації будуть надіслані на вказаный email.</p>
<p>Якщо у вас виникли будь-які запитання, ви завжди можете написати нам у <a href="mailto: service@tychyny16-2.kyiv.ua">службу підтрикки</a>.</p>