<h3>Вас вітає онлайн система ОСББ!</h3>
<h4>Вас було розблоковано в системі.</h4>
<p>Ваша активность в системі була поновлена. Будь-ласка, <a href="https://tychyny16-2.kyiv.ua/login">авторизуйтесь</a> в системі.</p>