{% extends 'base.html.twig' %}

{% form_theme registrationForm "fields.html.twig" %}

{% block title %}{% trans %}Register::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-full-page">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
            <div class="container">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="{{ path('index') }}">{% trans %}OSBB Tychyny 16/2{% endtrans %}</a>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('app_login') }}" class="nav-link">
                                <i class="nc-icon nc-mobile"></i> {% trans %}Login link{% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a href="{{path('app_register')}}" class="nav-link">
                                <i class="nc-icon nc-badge"></i> {% trans %}Registration link{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="full-page register-page section-image" data-color="blue" data-image="{{ asset('assets/img/bg8.jpg') }}">
            <div class="content">
                <div class="container">
                    <div class="card card-register card-plain text-center">
                        <div class="card-header ">
                            <div class="row  justify-content-center">
                                <div class="col-md-8">
                                    <div class="header-text">
                                        <h2 class="card-title">{% trans %}Register title{% endtrans %}</h2>
                                        <h4 class="card-subtitle">{% trans %}Register minor title{% endtrans %}</h4>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon">
                                                <i class="nc-icon nc-circle-09"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4>{% trans %}Free Account Title{% endtrans %}</h4>
                                            <p>{% trans %}Free Account Text{% endtrans %}</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon">
                                                <i class="nc-icon nc-preferences-circle-rotate"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4>{% trans %}Awesome Performances Title{% endtrans %}</h4>
                                            <p>{% trans %}Awesome Performances Text{% endtrans %}</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="icon">
                                                <i class="nc-icon nc-planet"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4>{% trans %}Global Support Title{% endtrans %}</h4>
                                            <p>{% trans %}Global Support Text{% endtrans %}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mr-auto">
                                    {{ form_start(registrationForm) }}
                                        <div class="card card-plain">
                                            <div class="content">
                                                <div class="form-group">
                                                    {{ form_widget(registrationForm.email) }}
                                                    {{ form_errors(registrationForm.email) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(registrationForm.firstName) }}
                                                    {{ form_errors(registrationForm.firstName) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(registrationForm.secondName) }}
                                                    {{ form_errors(registrationForm.secondName) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(registrationForm.apartmentNumber) }}
                                                    {{ form_errors(registrationForm.apartmentNumber) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(registrationForm.phone) }}
                                                    {{ form_errors(registrationForm.phone) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(registrationForm.plainPassword.first) }}
                                                    {{ form_errors(registrationForm.plainPassword.first) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(registrationForm.plainPassword.second) }}
                                                    {{ form_errors(registrationForm.plainPassword.second) }}
                                                </div>
                                            </div>
                                            <div class="footer text-center">
                                                <button type="submit" class="btn btn-warning btn-wd send-button">{% trans %}Create account button{% endtrans %}</button>
                                            </div>
                                        </div>
                                    {{ form_end(registrationForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/jquery.mask.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            $page = $('.full-page');
            image_src = $page.data('image');

            if (image_src !== undefined) {
                image_container = '<div class="full-page-background" style="background-image: url(' + image_src + ') "/>'
                $page.append(image_container);
            }

            $('#RegistrationForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            $('#registration_form_phone').mask('(000) 000 00 00');

            $('#registration_form_email').on('input, focusout', function () {
                var validator = $( "#RegistrationForm" ).validate();
                var message = "{% trans %}There is already an account with this email{% endtrans %}";
                $.ajax({
                    url: '{{ path('check_registration_data_duplicates') }}',
                    type: 'POST',
                    data: {
                        email: $('#registration_form_email').val(),
                    },
                    error: function (response) {
                        validator.showErrors({
                            "registration_form[email]": message,
                        });
                    },
                })
            });
        });
    </script>
{% endblock %}