{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::Feedback::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{ asset('assets/img/sidebar-5.jpg') }}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{% trans %}Messages_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Messages_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body content-full-width">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item show active">
                                            <a class="nav-link" href="{{ path('new_messages') }}">{% trans %}New_messages_tab_title{% endtrans %} ({{ newMessagesCount() }})</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('read_messages') }}">{% trans %}Read_messages_tab_title{% endtrans %}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="icon-info" class="tab-pane fade show active">
                                            {% if messages|length > 0 %}
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-striped">
                                                            <thead>
                                                                <th>ID</th>
                                                                <th>{% trans %}User_info{% endtrans %}</th>
                                                                <th>{% trans %}Apartment number{% endtrans %}</th>
                                                                <th>{% trans %}Subject{% endtrans %}</th>
                                                                <th>{% trans %}Message{% endtrans %}</th>
                                                                <th>{% trans %}Date{% endtrans %}</th>
                                                                <th>{% trans %}Actions{% endtrans %}</th>
                                                            </thead>
                                                            <tbody>
                                                                {% for message in messages %}
                                                                    <tr>
                                                                        <td>{{ message.id }}</td>
                                                                        <td>
                                                                            {{ message.user.firstName }} {{ message.user.secondName }} <br>
                                                                            <a href="tel: {{ message.user.phone }}">{{ message.user.phone }}</a> <br>
                                                                            <a href="mailto: {{ message.user.email }}" target="_blank">{{ message.user.email }}</a>
                                                                        </td>
                                                                        <td>{{ message.user.apartmentNumber }}</td>
                                                                        <td>{{ message.subject }}</td>
                                                                        <td>{{ message.message }}</td>
                                                                        <td style="white-space: nowrap">
                                                                            {{ message.createdDate|date('Y-m-d') }} <br>
                                                                            <small>{{ message.createdDate|date('H:i:s') }}</small>
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" class="btn btn-sm btn-success btn-fill read-message" data-message-id="{{ message.id }}">{% trans %}Make_read_menu{% endtrans %}</a>
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <h3 class="text-center">{% trans %}No_new_messages{% endtrans %}</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            $('.read-message').on('click', function () {
                var messageId = $(this).data('message-id');

                swal({
                    title: "{% trans %}Alert_read_message_question{% endtrans %}",
                    text: "{% trans %}Alert_read_message_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Read_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('make_message_read') }}',
                        type: 'POST',
                        data: {
                            messageId: messageId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_read_message_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                    })
                });
            });
        });
    </script>
{% endblock %}