{% extends 'base.html.twig' %}

{% block title %}{% trans %}Index::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            {% if advertisements|length != 0 %}
                                {% for advertisement in advertisements %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card ">
                                                <div class="card-header ">
                                                    <h4 class="card-title">{% trans %}Advertisements_title{% endtrans %}</h4>
                                                    <a href="{{ path('advertisements') }}"><p class="text-left small m-0 p-0">{% trans %}View_all_advertisements{% endtrans %} <i class="fa fa-arrow-right"></i></p></a>
                                                    <hr>
                                                </div>
                                                <div class="card-body mt-0 pt-0">
                                                    <a href="{{ path('read_advertisements', {'id': advertisement.id}) }}"><h4 class="mt-0 pt-0 font-weight-normal">{{ advertisement.title }}</h4></a>
                                                    <p class="small text-dark">{{ advertisement.recap }}</p>

                                                </div>
                                                <div class="card-footer mt-0 pt-0">
                                                    <hr>
                                                    <div class="stats">
                                                        <i class="fa fa-history"></i> {% trans %}Updated_date{% endtrans %} {{ advertisement.createdDate|date('Y-m-d') }} о {{ advertisement.createdDate|date('H:i') }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card ">
                                            <div class="card-header ">
                                                <h4 class="card-title">{% trans %}Advertisements_title{% endtrans %}</h4>
                                                <p class="card-category">{% trans %}Advertisements_detailed_small_title{% endtrans %}</p>
                                                <hr>
                                            </div>
                                            <div class="card-body mt-0 pt-0">
                                                <h3 class="text-center p-4">{% trans %}No_advertisements_title{% endtrans %}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}News_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}News_small_newest_title{% endtrans %}</p>
                                    <hr>
                                </div>
                                <div class="card-body mt-0 pt-0">
                                    {% if news|length != 0 %}
                                        {% for newsData in news %}
                                            <div class="news-block pb-4">
                                                <a href="{{ path('read_news', {'id': newsData.id}) }}"><h4 class="mt-0 pt-0 mb-0 font-weight-normal">{{ newsData.title }}</h4></a>
                                                <div class="card-footer text-left m-0 p-0">
                                                    <div class="stats">
                                                        <i class="fa fa-calendar"></i> {% trans %}Published_date{% endtrans %} {{ newsData.createdDate|date('Y-m-d') }}
                                                    </div>
                                                </div>
                                                <p class="small text-dark">{{ newsData.recap }}</p>
                                            </div>
                                        {% endfor %}
                                        <a href="{{ path('news') }}"><p class="text-center small">{% trans %}View_all_news{% endtrans %} <i class="fa fa-arrow-right"></i></p></a>
                                    {% else %}
                                        <h3 class="text-center p-4">{% trans %}No_news_title{% endtrans %}</h3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Contacts_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Contacts_small_title{% endtrans %}</p>
                                    <hr>
                                </div>
                                <div class="card-body text-center mt-0 pt-0">
                                    {% for personalContact in personalContacts %}
                                        <div class="contact-block pb-1">
                                            <h4 class="mt-0 pt-0 mb-2"><b>{{ personalContact.title }}</b></h4>
                                            {% for personalContactManager in personalContact.contacts %}
                                                <h6 class="text-secondary">{{ personalContactManager.managerName }}</h6>
                                                <ul class="list-unstyled">
                                                    {% for personalContactManagerPhone in personalContactManager.phones %}
                                                        <li><i class="fa fa-phone-square text-info"></i> <a href="tel: {{ personalContactManagerPhone }}" class="contact-block-link">{{ personalContactManagerPhone }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <a href="{{ path('contacts') }}"><p class="text-center small">{% trans %}View_all_contacts{% endtrans %} <i class="fa fa-arrow-right"></i></p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
{% endblock %}