{% extends 'base.html.twig' %}

{% block title %}{% trans %}Advertisement::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisements_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisements_detailed_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    <div class="ads-block">
                                        <h2>{{ advertisement.title }}</h2>
                                        <div class="card-footer text-left p-0">
                                            <div class="stats">
                                                <i class="fa fa-calendar"></i> {% trans %}Published_date{% endtrans %} {{ advertisement.createdDate|date('Y-m-d') }}
                                            </div>
                                        </div>
                                        {% if advertisement.recap|length > 0 %}
                                            <hr>
                                            <p>{{ advertisement.recap }}</p>
                                        {% endif %}
                                        <hr>
                                        <p>{{ advertisement.description|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisement_questions_list_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisement_questions_list_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    {% if questions|length != 0 %}
                                        <div class="accordions" id="accordion">
                                            {% for key,question in questions %}
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title">
                                                            <a data-target="#question-{{ key }}" href="#" data-toggle="collapse">
                                                                {{ question.managerQuestion }}
                                                                <b class="caret"></b>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="question-{{ key }}" class="card-collapse collapse">
                                                        <div class="card-body text-secondary">
                                                            {{ question.answer }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <h3 class="text-center p-0 text-info">{% trans %}No_questions_title{% endtrans %}</h3>
                                        <p class="text-center pt-0 pb-4 text-secondary small">{% trans %}No_questions_text{% endtrans %}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Advertisement_put_question_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Advertisement_put_question_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body">
                                    {{ form_start(form) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.userQuestion) }}
                                                    {{ form_widget(form.userQuestion, {'attr': {'style': 'height: 200px;'}}) }}
                                                    {{ form_errors(form.userQuestion) }}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-warning btn-fill pull-right delete-photo-button">{% trans %}Send_button{% endtrans %}</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="https://cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var successFlashes = {{ app.flashes('success')|json_encode|raw }};

            $('#AdvertisementQuestionForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            if (successFlashes != '') {
                var message = successFlashes[0];

                if ('Successful new advertisement question' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_advertisement_question_title{% endtrans %}</b></br>{% trans %}Successful_advertisement_question_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 2000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}