{% extends 'base.html.twig' %}

{% block title %}{% trans %}Advertisement::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container ads-list">
                    {% if advertisements|length != 0 %}
                        {% for advertisement in advertisements %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card ">
                                        <div class="row">
                                            <div class="col-md-2 align-self-center">
                                                <div class="text-center align-items-center p-2">
                                                    <h3 class="p-0 mt-3 mb-0 text-warning"><b>{{ advertisement.createdDate|date('d M') }}</b></h3>
                                                    <p class="p-0 m-0 text-secondary">{{ advertisement.createdDate|date('Y') }}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="card-body">
                                                    <div class="ad-block p-3">
                                                        <a href="{{ path('read_advertisements', {'id': advertisement.id}) }}"><h2 class="mt-0">{{ advertisement.title }}</h2></a>
                                                        <p>{{ advertisement.recap }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card p-4">
                                    <h3 class="text-center p-4">{% trans %}No_advertisements_title{% endtrans %}</h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var advertisementsScrollCount = 5;

            $(window).scroll(function() {
                if ($(window).scrollTop() == ($(document).height() - $(window).height())) {
                    $.ajax({
                        url: '{{ path('load_more_advertisements') }}',
                        type: 'POST',
                        data: {
                            from: advertisementsScrollCount,
                        },
                        success: function (response) {
                            $(response).each(function(index, advertisements) {
                                var ads = "" +
                                    "<div class=\"row\">\n" +
                                        "<div class=\"col-md-12\">\n" +
                                            "<div class=\"card \">\n" +
                                                "<div class=\"row\">\n" +
                                                    "<div class=\"col-md-2 align-self-center\">\n" +
                                                        "<div class=\"text-center align-items-center p-2\">\n" +
                                                            "<h3 class=\"p-0 mt-3 mb-0 text-warning\"><b>" + advertisements.createdDateDM + "</b></h3>\n" +
                                                            "<p class=\"p-0 m-0 text-secondary\">" + advertisements.createdDateY + "</p>\n" +
                                                        "</div>\n" +
                                                    "</div>\n" +
                                                    "<div class=\"col-md-10\">\n" +
                                                        "<div class=\"card-body\">\n" +
                                                            "<div class=\"ad-block p-3\">\n" +
                                                                "<a href=\"/advertisements/" + advertisements.id + "\"><h2 class=\"mt-0\">" + advertisements.title + "</h2></a>\n" +
                                                                "<p>" + advertisements.recap + "</p>\n" +
                                                            "</div>\n" +
                                                        "</div>\n" +
                                                    "</div>\n" +
                                                "</div>\n" +
                                            "</div>\n" +
                                        "</div>\n" +
                                    "</div>";

                                $('.ads-list').append(ads);
                            });

                            advertisementsScrollCount = advertisementsScrollCount + 5;
                        }
                    })
                }
            });
        });
    </script>
{% endblock %}