{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin::News::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header ml-4 mt-3">
                                    <h4 class="card-title">{% trans %}News_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}News_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body news-list">
                                    <a href="{{ path('admin_create_news') }}" class="btn btn-sm btn-success btn-fill mt-2 ml-4 mb-0">{% trans %}Add_new_news{% endtrans %}</a>
                                    {% if news|length != 0 %}
                                        {% for newsData in news %}
                                            <div class="news-block pl-4 pr-4">
                                                <h2>{{ newsData.title }}</h2>
                                                <div class="card-footer text-left p-0">
                                                    <div class="stats">
                                                        <i class="fa fa-calendar"></i> {% trans %}Published_date{% endtrans %} {{ newsData.createdDate|date('Y-m-d') }}
                                                    </div>
                                                </div>
                                                <p>{{ newsData.recap }}</p>
                                                <div class="card-footer text-left p-0">
                                                    <div class="stats">
                                                        <a href="{{ path('admin_edit_news', {'id': newsData.id}) }}" class="btn btn-sm btn-warning btn-fill">{% trans %}Edit_button{% endtrans %}</a>
                                                        <button type="button" class="btn btn-sm btn-danger btn-fill delete-news" data-news-id="{{ newsData.id }}">{% trans %}Delete_button{% endtrans %}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h3 class="text-center p-4">{% trans %}No_news_title{% endtrans %}</h3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/core/popper.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var successFlashes = {{ app.flashes('success')|json_encode|raw }};
            var newsScrollCount = 5;

            if (successFlashes != '') {
                var message = successFlashes[0];

                if ('Successful news edit' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_news_edit_title{% endtrans %}</b></br>{% trans %}Successful_news_edit_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }

                if ('Successful news create' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_news_create_title{% endtrans %}</b></br>{% trans %}Successful_news_create_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }
            }

            $(window).scroll(function() {
                if ($(window).scrollTop() == ($(document).height() - $(window).height())) {
                    $.ajax({
                        url: '{{ path('admin_load_more_news') }}',
                        type: 'POST',
                        data: {
                            from: newsScrollCount,
                        },
                        success: function (response) {
                            $(response).each(function(index, news) {
                                var news = "" +
                                    "<div class=\"news-block pl-4 pr-4\">\n" +
                                        "<h2>" + news.title + "</h2>\n" +
                                        "<div class=\"card-footer text-left p-0\">\n" +
                                            "<div class=\"stats\">\n" +
                                                "<i class=\"fa fa-calendar\"></i> {% trans %}Published_date{% endtrans %} " + news.createdDate + "\n" +
                                            "</div>\n" +
                                        "</div>" +
                                        "<p>" + news.recap + "</p>\n" +
                                        "<div class=\"card-footer text-left p-0\">\n" +
                                            "<div class=\"stats\">\n" +
                                                "<a href=\"/admin/news/edit/" + news.id + "\" class=\"btn btn-sm btn-warning btn-fill\">{% trans %}Edit_button{% endtrans %}</a>\n" +
                                                "<button type=\"button\" class=\"btn btn-sm btn-danger btn-fill delete-news\" data-news-id=" + news.id + ">{% trans %}Delete_button{% endtrans %}</button>\n" +
                                            "</div>\n" +
                                        "</div>" +
                                    "</div>\n";

                                $('.news-list').append(news);
                            });

                            newsScrollCount = newsScrollCount + 5;
                        }
                    })
                }
            });

            $(document).on('click', '.delete-news', function() {
                var newsId = $(this).data('news-id');

                swal({
                    title: "{% trans %}Alert_delete_news_question{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Delete_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $.ajax({
                        url: '{{ path('delete_news') }}',
                        type: 'POST',
                        data: {
                            newsId: newsId,
                        },
                        success: function (response) {
                            swal({
                                title: "{% trans %}Swal_delete_news_title{% endtrans %}",
                                text: "{% trans %}Swal_autoclose_message{% endtrans %}",
                                type: "success",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                        error: function (response) {
                            swal({
                                title: "{% trans %}Swal_error_title{% endtrans %}",
                                text: "{% trans %}Swal_error_text{% endtrans %}",
                                type: "error",
                                timer: 2500,
                            }, function () {
                                window.location.reload();
                            });
                        },
                    })
                });
            });
        });
    </script>
{% endblock %}