{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contacts::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{asset('assets/img/sidebar-5.jpg')}}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Contacts_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Contacts_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body text-center">
                                    {% for personalContact in personalContacts %}
                                        <div class="contact-block pb-1">
                                            <h4 class="mt-0 pt-0 mb-2"><b>{{ personalContact.title }}</b></h4>
                                            {% for personalContactManager in personalContact.contacts %}
                                                <h6 class="text-secondary">{{ personalContactManager.managerName }}</h6>
                                                <ul class="list-unstyled">
                                                    {% for personalContactManagerPhone in personalContactManager.phones %}
                                                        <li><i class="fa fa-phone-square text-info"></i> <a href="tel: {{ personalContactManagerPhone }}" class="contact-block-link">{{ personalContactManagerPhone }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Contacts_management_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Contacts_management_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body text-center">
                                    {% for managementContact in managementContacts %}
                                        <div class="contact-block pb-1">
                                            <h4 class="mt-0 pt-0 mb-2"><b>{{ managementContact.title }}</b></h4>
                                            {% for managementContactManager in managementContact.contacts %}
                                                <h6 class="text-secondary">{{ managementContactManager.managerName }}</h6>
                                                <ul class="list-unstyled m-0 p-0">
                                                    {% for managementContactManagerPhone in managementContactManager.phones %}
                                                        <li><i class="fa fa-phone-square text-info"></i> <a href="tel: {{ managementContactManagerPhone }}" class="contact-block-link">{{ managementContactManagerPhone }}</a></li>
                                                    {% endfor %}
                                                    {% if managementContactManager.apartmentNumber is not empty %}
                                                        <li><i class="fa fa-location-arrow text-success"></i><small>кв. {{ managementContactManager.apartmentNumber }}</small></li>
                                                    {% endif %}
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">{% trans %}Feedback_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Feedback_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body ">
                                    {{ form_start(feedbackForm) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(feedbackForm.subject) }}
                                                    {{ form_widget(feedbackForm.subject) }}
                                                    {{ form_errors(feedbackForm.subject) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(feedbackForm.message) }}
                                                    {{ form_widget(feedbackForm.message, {'attr': {'style': 'height: 200px;'}}) }}
                                                    {{ form_errors(feedbackForm.message) }}
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-warning btn-fill pull-right delete-photo-button">{% trans %}Send_button{% endtrans %}</button>
                                    {{ form_end(feedbackForm) }}
                                </div>
                                <div class="card-footer ">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-envelope"></i> {% trans %}Feedback_footer_text{% endtrans %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src=" {{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-switch.js') }}"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var successFlashes = {{ app.flashes('success')|json_encode|raw }};

            $('#FeedbackForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            if (successFlashes != '') {
                var message = successFlashes[0];

                if ('Successful feedback' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_feedback_title{% endtrans %}</b></br>{% trans %}Successful_feedback_text{% endtrans %}</p>"
                    }, {
                        type: 'primary',
                        timer: 1000,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}