{% extends 'base.html.twig' %}

{% form_theme changePasswordForm "fields.html.twig" %}

{% block title %}{% trans %}ProfilePassword::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="{{ asset('assets/img/sidebar-5.jpg') }}">
            <div class="sidebar-wrapper">
                {% include 'menu.html.twig' %}
            </div>
        </div>
        <div class="main-panel">
            {% include 'navbar.html.twig' %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">{% trans %}Edit_profile_title{% endtrans %}</h4>
                                    <p class="card-category">{% trans %}Edit_password_small_title{% endtrans %}</p>
                                </div>
                                <div class="card-body content-full-width">
                                    <ul role="tablist" class="nav nav-tabs">
                                        <li role="presentation" class="nav-item">
                                            <a class="nav-link" id="info-tab" href="{{ path('profile') }}" data-toggle="tab">{% trans %}Profile_tab_title{% endtrans %}</a>
                                        </li>
                                        <li class="nav-item show active">
                                            <a class="nav-link" id="account-tab" href="{{ path('profile_passport_change') }}" data-toggle="tab">{% trans %}Password_tab_title{% endtrans %}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="icon-info" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">
                                            {{ form_start(changePasswordForm) }}
                                            <div class="card-body ">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            {{ form_label(changePasswordForm.oldPassword) }}
                                                            {{ form_widget(changePasswordForm.oldPassword) }}
                                                            {{ form_errors(changePasswordForm.oldPassword) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            {{ form_label(changePasswordForm.plainPassword.first) }}
                                                            {{ form_widget(changePasswordForm.plainPassword.first) }}
                                                            {{ form_errors(changePasswordForm.plainPassword.first) }}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            {{ form_label(changePasswordForm.plainPassword.second) }}
                                                            {{ form_widget(changePasswordForm.plainPassword.second) }}
                                                            {{ form_errors(changePasswordForm.plainPassword.second) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-info btn-fill pull-right submit-button">{% trans %}Save_button{% endtrans %}</button>
                                                <div class="clearfix"></div>
                                            </div>
                                            {{ form_end(changePasswordForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% include 'client/user/profile/sidebar_user_info.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            {% include 'footer.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src=" {{ asset('assets/js/core/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-switch.js') }}"></script>
    <script src="{{ asset('assets/js/light-bootstrap-dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            $('#ChangePasswordForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            $('.submit-button').on('click', function (e) {
                e.preventDefault();
                swal({
                    title: "{% trans %}Alert_question{% endtrans %}",
                    text: "{% trans %}Alert_text{% endtrans %}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn btn-info btn-fill",
                    confirmButtonText: "{% trans %}Save_button{% endtrans %}",
                    cancelButtonClass: "btn btn-danger btn-fill",
                    cancelButtonText: "{% trans %}Cancel_button{% endtrans %}",
                    closeOnConfirm: true,
                }, function() {
                    $('#ChangePasswordForm').submit();
                });
            });
        });
    </script>
{% endblock %}