<div class="card card-user">
    <div class="card-header no-padding">
        <div class="card-image">
            <img src="{{ asset('assets/img/full-screen-image-3.jpg') }}" alt="...">
        </div>
    </div>
    <div class="card-body ">
        <div class="author">
            <a href="#">
                {% if app.user.image is not empty %}
                    <img class="avatar border-gray" src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="...">
                {% else %}
                    <img class="avatar border-gray" src="{{ asset('assets/img/no-photo.jpg') }}" alt="...">
                {% endif %}
                <h5 class="card-title">{{ app.user.firstName }} {{ app.user.secondName }}</h5>
            </a>
            <p class="card-description">
                {{ app.user.email }}
            </p>
            <p class="card-description">
                {{ app.user.phone }}
            </p>
        </div>
        <p class="card-description text-center">
            {% trans %}Apartment number{% endtrans %} <b style="color: #23CCEF">{{ app.user.apartmentNumber }}</b>
        </p>
    </div>
    <div class="card-footer ">
        <hr>
        <div class="button-container text-center" style="color: #abb3b9">
            {% trans %}RegDate{% endtrans %} {{ app.user.registerDate|date('Y/m/d') }}
        </div>
    </div>
</div>