{% block form_errors %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <label class="error" style="color: #FB404B; font-size: 0.75rem;">
                {{ error.message }}
            </label>
        {% endfor %}
    {% endif %}
{% endblock form_errors %}