<footer class="footer">
    <div class="container">
{#        <nav>#}
{#            <ul class="footer-menu">#}
{#                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
{#                    <li>#}
{#                        <a href="{{ path('index') }}">#}
{#                            {% trans %}Home_menu{% endtrans %}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{{ path('advertisements') }}">#}
{#                            {% trans %}Advertisement_menu{% endtrans %}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{{ path('news') }}">#}
{#                            {% trans %}News_menu{% endtrans %}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{{ path('contacts') }}">#}
{#                            {% trans %}Contacts_menu{% endtrans %}#}
{#                        </a>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li>#}
{#                        <a href="{{ path('app_login') }}">#}
{#                            {% trans %}Login link{% endtrans %}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{{ path('app_register') }}">#}
{#                            {% trans %}Registration link{% endtrans %}#}
{#                        </a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </nav>#}
        <p class="copyright text-center">
            © {{ "now"|date("Y") }} OSBB Tychyny 16/2. Contact
            <a href="mailto: service@tychyny16-2.kyiv.ua">service</a> for support or
            <a href="mailto: development@tychyny16-2.kyiv.ua">developers</a> for any technical issues.
        </p>
    </div>
</footer>