<div class="user">
    <div class="photo">
        {% if app.user.image is not empty %}
            <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="...">
        {% else %}
            <img src="{{ asset('assets/img/no-photo.jpg') }}" alt="...">
        {% endif %}
    </div>
    <div class="info">
        <a data-toggle="collapse" href="#userInfo" class="collapsed">
            <span>
                {{ app.user.firstName }}
                <b class="caret"></b>
            </span>
        </a>
        <div class="collapse {% if
            app.request.attributes.get('_route') == 'profile' or
            app.request.attributes.get('_route') == 'profile_passport_change' %} show {% endif %}" id="userInfo">
            <ul class="nav">
                <li>
                    <a class="profile-dropdown" href="{{ path('profile') }}" style="margin-top: 15px;">
                        <i class="nc-icon nc-single-02"></i>
                        <span class="sidebar-normal">{% trans %}Profile_menu{% endtrans %}</span>
                    </a>
                </li>
                <li>
                    <a class="profile-dropdown" href="{{ path('profile_passport_change') }}">
                        <i class="nc-icon nc-bullet-list-67"></i>
                        <span class="sidebar-normal">{% trans %}Setting_menu{% endtrans %}</span>
                    </a>
                </li>
                <li>
                    <a class="profile-dropdown" href="{{path('app_logout')}}">
                        <i class="nc-icon nc-button-power"></i>
                        <span class="sidebar-normal">{% trans %}Logout_menu{% endtrans %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<ul class="nav">
    <li class="nav-item {% if app.request.attributes.get('_route') == 'index' %} active {% endif %}">
        <a class="nav-link" href="{{ path('index') }}">
            <i class="nc-icon nc-layers-3"></i>
            <p>{% trans %}Home_menu{% endtrans %}</p>
        </a>
    </li>
    <li class="nav-item {% if
        app.request.attributes.get('_route') == 'advertisements' or
        app.request.attributes.get('_route') == 'read_advertisements' %} active {% endif %}">
        <a class="nav-link" href="{{ path('advertisements') }}">
            <i class="nc-icon nc-notes"></i>
            <p>{% trans %}Advertisement_menu{% endtrans %}</p>
        </a>
    </li>
    <li class="nav-item {% if
        app.request.attributes.get('_route') == 'news' or
        app.request.attributes.get('_route') == 'read_news' %} active {% endif %}">
        <a class="nav-link" href="{{ path('news') }}">
            <i class="nc-icon nc-single-copy-04"></i>
            <p>{% trans %}News_menu{% endtrans %}</p>
        </a>
    </li>
    <li class="nav-item {% if app.request.attributes.get('_route') == 'contacts' %} active {% endif %}">
        <a class="nav-link" href="{{ path('contacts') }}">
            <i class="nc-icon nc-pin-3"></i>
            <p>{% trans %}Contacts_menu{% endtrans %}</p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('index') }}">
            <i class="nc-icon nc-chart-pie-36" style="color: #adadad;"></i>
            <p style="color: #adadad;">{% trans %}Estimate_menu{% endtrans %}</p>
        </a>
    </li>
    <li class="nav-item" style="margin-bottom: 5px;">
        <a class="nav-link" href="{{ path('index') }}">
            <i class="nc-icon nc-chart-bar-32" style="color: #adadad;"></i>
            <p style="color: #adadad;">{% trans %}Poll_menu{% endtrans %}</p>
        </a>
    </li>
    <li class="nav-item" style="margin-bottom: 5px;">
        <a class="nav-link" href="{{ path('index') }}">
            <i class="nc-icon nc-delivery-fast" style="color: #adadad;"></i>
            <p style="color: #adadad;">{% trans %}Orders_menu{% endtrans %}</p>
        </a>
    </li>
    {% if app.user.userGroup.name == constant('App\\Entity\\UserGroup::ADMIN_NAME') %}
        <li class="nav-item" style="border-top: 1px solid rgba(255, 255, 255, 0.2)">
            <a class="nav-link" data-toggle="collapse" href="#adminMenu">
                <i class="nc-icon nc-settings-gear-64"></i>
                <p>{% trans %}Admin_menu{% endtrans %}
                    {% if newMessagesCount() > 0 or newUsersCount() > 0 or newAdsQuestionsCount > 0%}
                        <span class="badge badge-danger badge-pill">{{ newMessagesCount() + newUsersCount() + newAdsQuestionsCount() }}</span>
                    {% endif %}
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse {% if
                app.request.attributes.get('_route') == 'users_active' or
                app.request.attributes.get('_route') == 'users_new' or
                app.request.attributes.get('_route') == 'users_blocked' or
                app.request.attributes.get('_route') == 'new_messages' or
                app.request.attributes.get('_route') == 'read_messages' or
                app.request.attributes.get('_route') == 'admin_contacts' or
                app.request.attributes.get('_route') == 'create_contact' or
                app.request.attributes.get('_route') == 'edit_contact' or
                app.request.attributes.get('_route') == 'admin_news' or
                app.request.attributes.get('_route') == 'admin_edit_news' or
                app.request.attributes.get('_route') == 'admin_create_news' or
                app.request.attributes.get('_route') == 'admin_advertisements' or
                app.request.attributes.get('_route') == 'admin_edit_advertisement' or
                app.request.attributes.get('_route') == 'admin_create_advertisement' or
                app.request.attributes.get('_route') == 'admin_advertisement_questions' or
                app.request.attributes.get('_route') == 'admin_advertisement_answer'%} show {% endif %}" id="adminMenu">
                <ul class="nav">
                    <li class="nav-item {% if
                        app.request.attributes.get('_route') == 'new_messages' or
                        app.request.attributes.get('_route') == 'read_messages' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('new_messages') }}">
                            <span class="sidebar-mini"><i class="nc-icon nc-email-83"></i></span>
                            <span class="sidebar-normal">{% trans %}Messages_menu{% endtrans %}
                                {% if newMessagesCount() > 0 %} <span class="badge badge-danger badge-pill">{{ newMessagesCount() }}</span> {% endif %}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if
                        app.request.attributes.get('_route') == 'users_active' or
                        app.request.attributes.get('_route') == 'users_new' or
                        app.request.attributes.get('_route') == 'users_blocked' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('users_active') }}">
                            <span class="sidebar-mini"><i class="nc-icon nc-badge"></i></span>
                            <span class="sidebar-normal">{% trans %}Users_menu{% endtrans %} {% if newUsersCount() > 0 %} <span class="badge badge-danger badge-pill">{{ newUsersCount() }}</span> {% endif %}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if
                        app.request.attributes.get('_route') == 'admin_advertisements' or
                        app.request.attributes.get('_route') == 'admin_edit_advertisement' or
                        app.request.attributes.get('_route') == 'admin_create_advertisement' or
                        app.request.attributes.get('_route') == 'admin_advertisement_questions' or
                        app.request.attributes.get('_route') == 'admin_advertisement_answer' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('admin_advertisements') }}">
                            <span class="sidebar-mini"><i class="nc-icon nc-notes"></i></span>
                            <span class="sidebar-normal">{% trans %}Advertisement_menu{% endtrans %} {% if newAdsQuestionsCount() > 0 %} <span class="badge badge-danger badge-pill">{{ newAdsQuestionsCount() }}</span> {% endif %}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if
                        app.request.attributes.get('_route') == 'admin_news' or
                        app.request.attributes.get('_route') == 'admin_edit_news' or
                        app.request.attributes.get('_route') == 'admin_create_news' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('admin_news') }}">
                            <span class="sidebar-mini"><i class="nc-icon nc-single-copy-04"></i></span>
                            <span class="sidebar-normal">{% trans %}News_menu{% endtrans %}</span>
                        </a>
                    </li>
                    <li class="nav-item {% if
                        app.request.attributes.get('_route') == 'admin_contacts' or
                        app.request.attributes.get('_route') == 'create_contact' or
                        app.request.attributes.get('_route') == 'edit_contact' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('admin_contacts') }}">
                            <span class="sidebar-mini"><i class="nc-icon nc-pin-3"></i></span>
                            <span class="sidebar-normal">{% trans %}Contacts_menu{% endtrans %}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    {% endif %}
</ul>