{% extends 'base.html.twig' %}

{% block title %}{% trans %}Authorization::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-full-page">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
            <div class="container">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="{{ path('index') }}">{% trans %}OSBB Tychyny 16/2{% endtrans %}</a>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item  active ">
                            <a href="{{ path('app_login') }}" class="nav-link">
                                <i class="nc-icon nc-mobile"></i> {% trans %}Login link{% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="{{path('app_register')}}" class="nav-link">
                                <i class="nc-icon nc-badge"></i> {% trans %}Registration link{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="full-page  section-image" data-color="blue" data-image="{{ asset('assets/img/full-screen-image-1.jpg') }}";>
            <div class="content">
                <div class="container">
                    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        {{ form_start(loginForm) }}
                            <div class="card card-login card-hidden">
                                <div class="card-header ">
                                    <h3 class="header text-center">{% trans %}Login header{% endtrans %}</h3>
                                </div>
                                <div class="card-body ">
                                    <div class="card-body">
                                        <div class="form-group">
                                            {{ form_row(loginForm.email) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_row(loginForm.password) }}
                                        </div>
                                        {% if error %}
                                            <div class="error-message card-hidden" style="color: #FB404B; font-size: 0.75rem;">
                                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    {{ form_row(loginForm.rememberMe) }}
                                                    <span class="form-check-sign"></span>
                                                    {% trans %}Remember me{% endtrans %}
                                                </label>
                                            </div>
                                            <a href="{{ path('app_register') }}" class="text-secondary small">{% trans %}Not_yet_registered{% endtrans %}</a>
{#                                            <a href="{{ path('') }}" class="text-secondary small">{% trans %}Forgot_password{% endtrans %}</a>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ml-auto mr-auto">
                                    <button type="submit" class="btn btn-warning btn-wd">{% trans %}Login button{% endtrans %}</button>
                                </div>
                            </div>
                        {{ form_end(loginForm) }}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/plugins/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/validation/messages_ua.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/plugins/bootstrap-notify.js') }}" type="text/javascript"></script>
    <script>
        $().ready(function() {
            var successFlashes = {{ app.flashes('success')|json_encode|raw }};

            $page = $('.full-page');
            image_src = $page.data('image');

            if (image_src !== undefined) {
                image_container = '<div class="full-page-background" style="background-image: url(' + image_src + ') "/>'
                $page.append(image_container);
            }

            setTimeout(function() {
                $('.card').removeClass('card-hidden');
            }, 700);

            setTimeout(function() {
                $('.error-message').removeClass('card-hidden');
            }, 700);

            $('#login_rememberMe').unwrap();

            $('#LoginForm').validate({
                highlight: function(element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    $(element).closest('.form-check').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                    $(element).closest('.form-check').removeClass('has-error').addClass('has-success');
                },
                errorPlacement: function(error, element) {
                    $(element).closest('.form-group').append(error).addClass('has-error');
                },
            });

            if (successFlashes != '') {
                var message = successFlashes[0];

                if ('Successful registration request' === message) {
                    $.notify({
                        icon: "nc-icon nc-bell-55",
                        message: "<p><b>{% trans %}Successful_register_title{% endtrans %}</b></br>{% trans %}Successful_register_text{% endtrans %}</p>"
                    }, {
                        type: 'warning',
                        timer: 0,
                        placement: {
                            from: 'top',
                            align: 'center',
                        }
                    });
                }
            }
        });
    </script>
{% endblock %}
