{% set video = '/assets/video/errors/err-' ~ random(1, 3) ~'.mp4' %}

{% extends 'base.html.twig' %}

{% block title %}{% trans %}error::title{% endtrans %}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-full-page">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
            <div class="container">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="{{ path('index') }}">{% trans %}OSBB Tychyny 16/2{% endtrans %}</a>
                </div>
            </div>
        </nav>
        <div class="full-page section-image video-container">
            <video autoplay muted loop playsinline id="errorVideo"></video>
            <div class="content">
                <div class="container">
                    <div class="col-md-10 col-sm-6 ml-auto mr-auto">
                        <div class="card bg-transparent border-0">
                            <h1 class="text-white text-center">🤦🏻 Виникла помилка</h1>
                            <h4 class="text-white text-center">
                                <b>От халепа!</b> </br> Нажаль з невідомих причин виникла помилка, проте можна перейти на <a href="{{ path('index') }}">головну</a>,
                                або написати нам <a href="mailto: service@tychyny16-2.kyiv.ua">email</a>.
                                З приводу технічних питань приймаєм хейт-месседжи <a href="mailto: development@tychyny16-2.kyiv.ua">тут</a> 🤷🏻🤫
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $().ready(function() {
            if($(window).width() < 721) {
                video = "/assets/video/errors/err-mob-1.mp4";
            } else {
                video = "{{ video }}";
            }
            $(".video-container video").append('<source src="' + video + '" type="video/mp4" >');
        });
    </script>
{% endblock %}
